/* GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Reem Kufi Ink', sans-serif;
}

.titulo-pagina {
    width: 100%;
    text-align: center;
    color: #122526;
    font-weight: 900;
    font-size: 45px;
}

/*navbar*/
.navbar {
    width: 80%;
    margin: 30px auto;
    display: flex;
    align-items: center;
}
ul {
    flex: 1;
    text-align: right;
}
ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0 10px;
    font-weight: 800;
    font-size: 14px;
}
.botao-navbar {
    padding: 7px 30px;
    outline: none;
    border: 1px solid #122526;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
}
.botao-navbar:hover {
    padding: 7px 30px;
    outline: none;
    border: 1px solid #54CFDB;
    border-radius: 20px;
    cursor: pointer;
    color: #54CFDB;
    background: transparent;
}
.autenticacao{
    border: 1px solid #54CFDB;
    color: #54CFDB;
}
.fundo {
    background-color: #122526;
}
.logo {
    color: white;
}
/*fim navbar*/

/* Footer */
.rodape {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    color: #fff;
    margin-bottom: 30px;
}
ol,
ul {
  padding-right: 2rem;
}
hr {
    color: #fff;
    margin: 20px 0 30px 0;
}
.footer-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 5px 0;
}
.social li {
    margin: 0 5px;
}
.social a {
    text-decoration: none;
    color: #fff;
}
.social a i {
    font-size: 2.1rem;
}
/* fim rodape*/

/*FIM GERAL*/



/* HOMEPAGE */
.banner {
    width: 80%;
    display: flex;
    margin: auto;
    margin-top: 80px;
}
.coluna-esquerda {
    padding-left: 35px;
    padding-top: 150px;
    flex-basis: 100%;
}
.coluna-direita img {
    display: flex;
    width: 500px;
}
.coluna-esquerda h2 {
    font-size: 40px;
    font-weight: 550;
    color: #fff;
}

/* homepage vaga */
.container-vaga {
    width: 80%;
    height: 100%;
    /*display: flex;*/
    margin: auto;
    padding: 100px 0 100px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
}
.container-vaga .titulo .tam-vaga {
    text-align: center;
    width: 100%;
    color: #122526;
    margin-bottom: 50px;
    font-size: 50px;
}
.tam-vaga{
    padding: 5px;
}
.card-vaga {
    width: 300px;
    padding-bottom: 50px;
    position: relative;
    transition: 0.5s;
    height: 480px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.card-vaga .dados-vaga {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card-vaga .foto-vaga {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card-vaga .foto-vaga .tamanho-vaga {
    min-width: 100%;
    width: auto;
    height: 100%;
}
.card-vaga .sobre-vaga  {
    height: 170px;
    padding: 15px;
    text-align: center;
}
.card-vaga .sobre-vaga .informacao-vaga  {
    display: flex;
    font-size: 25px;
    align-items: center;
}
.card-vaga .sobre-vaga .informacao-vaga .valor-vaga {
    flex: 1;
    text-align: right;
}
.card-vaga .sobre-vaga .descricao-vaga {
    font-size: 15px;
    text-align: justify;
    color: rgb(37, 37, 37);
}
.descricao-vaga  .titulo-vaga  {
    font-size: 25px;
    margin: 15px 0;
    text-align: left;
}
.descricao-vaga .local-vaga {
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
}
.card-vaga .ver-mais-vaga  {
    text-align: center;
    align-items: center;
}
.card-vaga .ver-mais-vaga button {
    margin-right: 15px;
    width: 250px;
    height: 50px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #122526;
    border: 2px solid #122526;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
}
.card-vaga .ver-mais-vaga  button:hover {
    color: #ffffff;
    background: #122526;
}
/*fim homepage vaga*/

/* homepage pessoa */
.container-pessoa {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 100px 0 100px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #122526;
}
.container-pessoa .titulo {
    text-align: center;
    width: 100%;
    color: #ffffff;
    margin-bottom: 50px;
    font-size: 30px;
}

.ver-todas {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}
.btn-ver-todas{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    border-radius: 15px;
    text-decoration: none;
    background: #1594A6;
    color: white;
}
.btn-ver-todas:hover {
    background: #000000;
    color: white;
}
/*fim homepage pessoa*/
/* FIM HOMEPAGE*/



/* LISTA DE PESSOAS */
.secao-pessoa {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 50px 0 50px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
}
.inicio-pessoa {
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
}
.titulo-home-pessoa {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 45px;
}
.card-pessoa {
    width: 300px;
    position: relative;
    transition: 0.5s;
    height: 450px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.card-pessoa .foto-pessoa {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.card-pessoa .foto-pessoa .tamanho-pessoa {
    min-width: 100%;
    width: auto;
    height: 100%;
}
.sobre-pessoa {
    height: 100px;
    padding: 15px;
    text-align: center;
}
.informacao-pessoa {
    font-size: 15px;
    text-align: justify;
    color: rgb(37, 37, 37);
}
.nome-pessoa {
    font-size: 32px;
    margin: 15px 0;
    text-align: left;
}
.descricao-pessoa {
    font-size: 20px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
}
.card-pessoa .ver-mais-pessoa {
    text-align: center;
    align-items: center;
}
.card-pessoa .ver-mais-pessoa button {
    margin-right: 15px;
    margin-top: 80px;
    width: 250px;
    height: 50px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #122526;
    border: 2px solid #122526;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
}
.ver-mais-pessoa button:hover {
    color: #ffffff;
    background: #122526;
}
.cadastrar-pessoa {
    text-align: end;
}
.btn-cadastrar-pessoa {
    padding: 10px;
    font-size: 20px;
    margin-right: 50px;
    align-items: flex-end;
    border-radius: 15px;
    text-decoration: none;
    background: #1594A6;
    color: white;
}
.btn-cadastrar-pessoa:hover {
    background: #122526;
    color: white;
}
/* FIM DE LISTAR PESSOA*/



/* LISTA DE VAGAS */
.secao-vaga {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 50px 0 50px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
}
.inicio-vaga {
    margin: auto;
    width: 100%;
    margin-bottom: 30px;
}
.titulo-home-vaga {
    width: 100%;
    text-align: center;
    color: #122526;
    font-weight: 900;
    font-size: 45px;
}
.ver-mais-vaga {
    text-align: center;
    align-items: center;
}
.ver-mais-vaga button {
    margin-right: 15px;
    width: 250px;
    height: 50px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #122526;
    border: 2px solid #122526;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
}
.ver-mais-vaga button:hover {
    color: #ffffff;
    background: #122526;
}
.cadastrar-vaga {
    text-align: end;
}
.btn-cadastrar-vaga {
    padding: 10px;
    font-size: 20px;
    margin-right: 50px;
    align-items: flex-end;
    border-radius: 15px;
    text-decoration: none;
    background: #1594A6;
    color: white;
}
.btn-cadastrar-vaga:hover {
    background: #122526;
    color: white;
}
/* FIM LISTAR VAGAS */

/*Swiper*/
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 100px;
}
.slide-content{
  margin: 50px;
  overflow: hidden;
  padding: 10px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
/*fim swiper*/


/*.swiper-rtl .swiper-button-prev{
    background: #122526; color: #fff; border-radius: 100%; padding: 20px; 
}*/
/*card vaga homepage*/
.card-vaga-homepage {
    width: 200px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    position: relative;
    transition: 0.5s;
    height: 550px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}
.card-vaga-homepage .dados-vaga {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.card-vaga-homepage .foto-vaga {
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.card-vaga-homepage .foto-vaga .tamanho-vaga {
    min-width: 100%;
    width: auto;
    height: 100%;
}
.card-vaga-homepage .sobre-vaga  {
    height: 170px;
    padding: 15px;
    text-align: center;
}
.card-vaga-homepage .sobre-vaga .informacao-vaga  {
    display: flex;
    font-size: 25px;
    align-items: center;
}
.card-vaga-homepage .sobre-vaga .informacao-vaga .valor-vaga {
    flex: 1;
    text-align: right;
}
.card-vaga-homepage .sobre-vaga .descricao-vaga {
    font-size: 150px;
    text-align: justify;
    color: rgb(37, 37, 37);
}
.descricao  .titulo-vaga  {
    font-size: 15px;
    margin: 15px 0;
    text-align: left;
}
.descricao .local-vaga {
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    color: rgb(37, 37, 37);
}
.card-vaga-homepage .ver-mais-vaga  {
    text-align: center;
    align-items: center;
}
.card-vaga-homepage .ver-mais-vaga button {
    margin-right: 15px;
    width: 250px;
    height: 50px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    color: #122526;
    border: 2px solid #122526;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
}
.card-vaga-homepage .ver-mais-vaga  button:hover {
    color: #ffffff;
    background: #122526;
}
/* fim card vaga homepage*/


/*Perfil*/
.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.tab-content {
	flex: 1;
}
.form-group {
	margin-bottom: 1.5rem;
}
.nav-pills a.nav-link {
	padding: 15px 20px;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	color: #333;
}
.nav-pills a.nav-link i {
	width: 20px;
}

.img-circle img {
    margin-top: 40px;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 5px solid #fff;
}
.profile-tab-nav{
	min-width:250px;
}
.nav-pills a.nav-link{
    padding:15px 20px;
    border-bottom:1px solid #ddd;
    border-radius:0;
    color:#333;
}
.img-circle  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 5px solid #fff;
}



.texto-perfil-info{
    font-size: 20px;
    font-weight: 700;
    color: #122526;
}
.info-perfil{
    font-size: 20px;
    color: #343434;
    text-align: justify;
}


.texto-valor{
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 5px;
    color: #000;
    text-align: end;
}
.texto-cidade{
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 5px;
    color: #000;
}
.texto-estado{
    font-size: 20px;
    color: #505050;
}
.texto-qnt{
    font-size: 20px;
    text-align: end;
    color: #505050;
}
.btn-contato{
    padding-top: 30px;
    text-align: end;
}
.texto-descricao{
    font-size: 20px;
    padding-top: 20px;
    text-align: justify;
    color: #505050;
}
.foto-ver-mais {
    width: 100%;
    height: 280px;
    overflow: hidden;
}
.tamanho-foto-ver-mais {
    min-width: 100%;
    width: auto;
    height: 100%;
    border-radius: 20px;
}
.btn-entrar-contato {
    padding: 10px;
    font-size: 15px;
    align-items: flex-end;
    border-radius: 15px;
    text-decoration: none;
    background: #1594A6;
    color: white;
}
.btn-entrar-contato:hover {
    background: #122526;
    color: white;
}
.modal-centro{
    text-align: center;
}
.titulo-modal-cadastrar-vaga{
    margin-top: 20px;
    font-size: 20px;
}


.teste{
    position: relative;
    height: 150px;
    margin: 0 25px 10px 25px;
    border: 2px dashed #a1a1a1;
}
.teste .texto-arquivo{
    width: 100%;
    text-align: center;
    margin-top: 45px;
    color: #a1a1a1;
}
.teste .texto-arquivo i{
    width: 20px;
}
.teste input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
  
  
  
  
  